#body
{
    background-color: #1A1A1D;
    font-family: 'Raleway', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}
#back
{
    position: absolute;
    top: 5%;
    left:5%
}
#edu
{
    position: absolute;
    font-size: 2.5rem;
    color: #F96167;
    top: 15%;
    left: 5%
}
#skills
{
    position: absolute;
    font-size: 2.5rem;
    color: #F96167;
    top: 15%;
    left: 50%;
}
#p1
{
    position: absolute;
    top: 30%;
    font-size: 1.3rem;
    color: #fe999c;
    left: 5%;
}
#p2
{
    position: absolute;
    top: 50%;
    font-size: 1.3rem;
    color: #fe999c;
    left: 5%;
}
#p3
{
    position: absolute;
    top: 70%;
    font-size: 1.3rem;
    color: #fe999c;
    left: 5%;
}
.highlight
{
    color: #F96167;
    font-weight:bold;
}
#p4
{
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: 1.3rem;
    color: #F96167;
}
.dates
{
    font-size: 1.1rem;
    color: #F96167;
}
#d1
{
    position: absolute;
    top: 35%;
    left: 30%;
}
#d2
{
    position: absolute;
    top: 55%;
    left: 30%;
}
#d3
{
    position: absolute;
    top: 75%;
    left: 30%;
}
#projects
{
    position: absolute;
    font-size: 2.5rem;
    color: #F96167;
    top: 15%;
    left: 75%
}
#p5
{
    position: absolute;
    top: 30%;
    left: 75%;
    right: 5%;
    font-size: 1.3rem;
    color: #fe999c;
}
#resume
{
    color: #8EE4AF;
    position: absolute;
    bottom: 5%;
    right: 7%;
    filter: drop-shadow(-5px 3px 5px #4b4545b3);
}
.greenCharacter
{
    color: #8EE4AF;
}